<funck>
    <no>
        <me>
            <say>
                hello
            </say>
            <say>
                world
            </say>
            <say>
                i
            </say>
            <say>
                like
            </say>
            <say>
                chicken
            </say>
        </me>
    </no>
</funck>